# Aliases

# ----------------
# Safe Aliases
# ----------------

alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

# --------------
# LS with color 
# --------------

if command -v exa $>/dev/null; then
	alias ls='exa --icons --group-directories-first'
	alias ll='exa -l --icons'
	alias la='exa -la --icons'
	alias lt='exa -T --icons'
else
	alias ll='ls -alF'
	alias la='ls -A'
fi

# --------------
# handy 
# --------------
#
alias reload='source ~/.bashrc'

