# Aliases

# ----------------
# Safe Aliases
# ----------------

alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

# --------------
# Everything with color 
# --------------

if command -v eza $>/dev/null; then
	alias ls='eza --icons --group-directories-first'
	alias ll='eza -l --icons'
	alias la='eza -la --icons'
	alias lt='eza -T --icons'
else
	alias ll='ls -alF'
	alias la='ls -A'
fi
alias grep='grep --color=auto'
alias cat='bat'


# --------------
# handy 
# --------------
#
alias reload='source ~/.bashrc'
alias findf='fd --type f'
alias findd='fd --type d'
alias psmem='ps faux --sort=-%mem | head'
alias pscpu='ps faux --sort=-%cpu | head'
alias ports='ss -tulnp'
